/Modul1/nbproject/private/
/TugasSoal1/nbproject/private/
/TugasModul1/nbproject/private/
/Soal1/nbproject/private/
/modul-1/Soal2/nbproject/private/
/modul-1/JavaLibrary5/nbproject/private/
/Soal1/build/
/modul-1/Manusia/nbproject/private/
/modul-1/Manusia/build/
/modul-1/JavaLibrary5/Mahasiswa/nbproject/private/
/modul-1/Mahasiswa/nbproject/private/
/modul-1/Hewan/nbproject/private/
/modul-1/Hewan/build/
/modul-1/Mahasiswa/build/
/modul-1/Mahasiswa1/nbproject/private/
/modul-1/Mahasiswa1/build/
