/Modul1/nbproject/private/
/TugasSoal1/nbproject/private/
/TugasModul1/nbproject/private/
/Soal1/nbproject/private/
/modul-1/Soal2/nbproject/private/
/modul-1/JavaLibrary5/nbproject/private/
/Soal1/build/
/modul-1/Manusia/nbproject/private/
/modul-1/Manusia/build/
/modul-1/JavaLibrary5/Mahasiswa/nbproject/private/
/modul-1/Mahasiswa/nbproject/private/
/modul-1/Hewan/nbproject/private/
/modul-1/Hewan/build/
/modul-1/Mahasiswa/build/
/modul-1/Mahasiswa1/nbproject/private/
/modul-1/Mahasiswa1/build/
/modul-1/kipas/nbproject/private/
/modul-1/coba/nbproject/private/
/modul-1/coba/build/
/modul-2/Mahasiswa/nbproject/private/
/modul-2/Mahasiswa/build/
/modul-2/Matakuliah/nbproject/private/
/modul-2/Matakuliah/build/
/modul-2/Kampus/nbproject/private/
/modul-2/Kampus/build/
/modul-2/tugas2/nbproject/private/
/modul-2/tugas2/build/
